<div class="container" ng-controller='AuthController'>
	<div class="row">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">	
					<div data-toggle="collapse" data-target=".navbar-collapse"  ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" style="margin-right:20px">			
						<img ng-show="hasPhoto" class="avatar img-circle pull-right visible-xs" ng-src="{{photo}}">
						<button ng-show="!hasPhoto" type="button" class="navbar-toggle">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<a href="javascript:void(0);" ng-click="openTop()" class="navbar-brand">AnguYaDisk</a>
				</div>
				<div uib-collapse="navCollapsed" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden-xs">
							<img ng-show="hasPhoto" ng-click="openProfile()" class="avatar img-circle" ng-src="{{photo}}">
						</li>
						<li><a href="javascript:void(0);" ng-show="isUserLoggedIn" ng-click="openProfile()" target="_blank">{{userName}} {{userLastName}}</a></li>
						<li ng-show="isUserLoggedIn"><a href="javascript:void(0);" ng-click="logout()">Logout</a></li>									   
						<li ng-show="!isUserLoggedIn"><a href="javascript:void(0);" ng-click="login()">Login</a></li>
						
					</ul>
				</div>
			</div>
		</nav>
	</div>	
</div>	