<nav-directive></nav-directive>

<div class="container">
	<div class="row" ng-repeat="item in items">
		<div class="col-xs-12">
				<span ng-class="item.type" ng-click="navigate(item.path | cutDisk, item.type)">
					<img ng-src="item.preview || static/img/{{item.type}}.png">
					{{item.name}} &nbsp; {{item.size | normalizedSize}}
				</span>
		</div>
	</div>
	<div class="row" ng-show="!items.length && isContentLoaded">
		<div class="col-xs-12">
			<div class="placeholder">
				Folder is empty
			</div>
		</div>
	</div>
	
	<div class="row" ng-show="!isContentLoaded">
		<div class="col-xs-12">
			<div class="text-center">
				<img ng-show="!isError" class="spinner" src="static/img/spinner.gif">
				<span ng-show="isError" ng-bind="message"></span>
			</div>
		</div>
	</div>
</div>