<nav-directive></nav-directive>

<div class="container">
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" ng-repeat="item in items">
				<span ng-class="item.type" ng-click="navigate(item.path | cutDisk, item.type)">
					<div>
						<img ng-src="{{item.preview}}">
					</div>
					<div>
						{{item.name}} &nbsp; {{item.size | normalizedSize}}
					</div>
				</span>
		</div>
	</div>
	<div class="row" ng-show="!items.length && isContentLoaded">
		<div class="col-xs-12">
			<div class="placeholder">
				Folder is empty
			</div>
		</div>
	</div>
	
	<div class="row" ng-show="!isContentLoaded">
		<div class="col-xs-12">
			<div class="text-center">
				<img ng-show="!isError" class="spinner" src="static/img/spinner.gif">
				<span ng-show="isError" ng-bind="message"></span>
			</div>
		</div>
	</div>
</div>