.avatar {
	height : 40px;
	margin-top : 5px;
	cursor : pointer;
}	

.error {
	color : #FF0000;
    font-size : 12px;
}

.has-error {
	border-color : #FF0000;
}

.file {
	
}

.dir {
	cursor : pointer;
	color : #00F;
}

.spinner {
	max-width : 24px;
}

.navigator {
	margin-bottom : 20px;
}

.placeholder {
	color : grey;
}

img {
	max-width : 90px;
	max-height : 90px;
}

.disk-item {
	height : 110px;
} 